body {
    color: #454545;

}

section {
    padding-top: 70px;
    /* height: 90vh !important; */
}

.title {
    font-size: 52pt;
    text-align: center;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0rem;
    color: #292929;

}

.col {
    padding-right: 0px;
    padding-left: 0px;
}

.card {
    background-color: transparent;
    border: 0px;
    /* border-right: 1px solid #00000020; */
    border-radius: 0rem;
    /* background: transparent; */
}

.card-footer {
    border: 0;
    padding-top: 0;
    padding-bottom: 50px;
}

.border-right {
    /* border-right: 0; */
    border-right: 1px solid #00000020 !important;
    /* background: red; */
}

.border-right-0-lg {
    border-right: 0px solid #00000020 !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .border-right-md {
        border-right: #962b2b 0px solid !important;
        /* background: red; */
    }

    .border-right-0-lg {
        border-right: 1px solid #00000020 !important;
    }

}

@media (max-width: 767.98px) {
    .border-right {
        /* border-right: 0; */
        border-right: 0px solid #00000020 !important;
        /* background: red; */
    }
}

.card-footer {
    background-color: transparent;
}

.small {
    color: #cacaca;
    margin: 0px;
}
