/* Configuração global */
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    padding-top: 70px;
    height: 80vh !important;
}

@media(max-width: 767.98px) {

    .title,
    .title__dark {
        font-size: 32pt !important;
    }

    .sub-title,
    .sub-title__dark {
        font-size: 16pt !important;
    }

    .title-promo,
    .title__dark-promo {
        font-size: 22pt !important;
    }

    .sub-title-promo,
    .sub-title__dark-promo {
        font-size: 16pt !important;
    }

    .cta-link-promo,
    .cta-link-promo-white {
        font-size: 12pt !important;
    }









}

.title {
    font-size: 42pt;
    font-weight: bold;
    /* font-family: 'Dosis', sans-serif; */
    text-align: center;
}

.sub-title {
    font-size: 22pt;
    /* font-weight: bold; */
    /* font-family: 'Dosis', sans-serif; */
    text-align: center;
}

.title__dark {
    color: whitesmoke;
    font-size: 42pt;
    font-weight: bold;
    /* font-family: 'Dosis', sans-serif; */
    text-align: center;
}

.sub-title__dark {
    color: whitesmoke;
    font-size: 22pt;
    /* font-weight: bold; */
    /* font-family: 'Dosis', sans-serif; */
    text-align: center;
}

.cta-link {
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
}

.cta-link a:first-child {
    margin-right: 26px;
}

/* **********************
        Quimera 
*********************** */
.quimera {
    background: #131313;
}

.bg-quimera {
    background-image: url(../img/heroes/kasadideias/hero_large.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

@media (max-width: 768px) {
    .bg-quimera {
        background-image: url(../img/heroes/kasadideias/hero_small.webp);
    }
}

/* **********************
        Empusa 
*********************** */

.empusa {
    background: #fafafa;
    padding-top: 0px !important;
    margin-top: 58px !important;
}

.bg-empusa {
    background-image: url(../img/heroes/empusa/hero_large.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

@media (max-width: 768px) {
    .bg-empusa {
        background-image: url(../img/heroes/empusa/hero_small.webp);
    }
}

/* **********************
        Fobos 
*********************** */

.fobos {
    height: auto !important;
    padding-top: 0px;
}

.promo {
    height: 60vh;
    /* width: 49%; */
    /* margin: 05px; */
    padding-top: 30px;
}

.title-promo {
    font-size: 32pt;
    font-weight: bold;
    /* font-family: 'Dosis', sans-serif; */
    text-align: center;
}

.sub-title-promo {
    font-size: 20pt;
    font-weight: bold;
    /* font-family: 'Dosis', sans-serif; */
    text-align: center;
}

.title__dark-promo {
    color: whitesmoke;
    font-size: 32pt;
    font-weight: bold;
    /* font-family: 'Dosis', sans-serif; */
    text-align: center;
}

.sub-title__dark-promo {
    color: whitesmoke;
    font-size: 20pt;
    /* font-weight: bold; */
    /* font-family: 'Dosis', sans-serif; */
    text-align: center;
}

.cta-link-promo {
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
}

.cta-link-promo a:first-child {
    margin-right: 26px;
}

.cta-link-promo-white {
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
}

.cta-link-promo-white a {
    margin-right: 26px;
    color: whitesmoke;
}

/* **********************
        start 
*********************** */

.bg-start {
    background-image: url(../img/promo/start/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* **********************
        Marketing 
*********************** */

.bg-marketing {
    background-image: url(../img/promo/marketing/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* **********************
        Negocio 
*********************** */

.bg-negocio {
    background-image: url(../img/promo/negocio/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* **********************
        Arquitetura 
*********************** */

.bg-arquitetura {
    background-image: url(../img/promo/arquitetura/tile_large.webp);
    /* background: red; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* **********************
        Prototipo 
*********************** */

.bg-prototipo {
    background-image: url(../img/promo/prototipo/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* **********************
        database 
*********************** */

.bg-database {
    background-image: url(../img/promo/database/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* **********************
        juridico 
*********************** */

.bg-juridico {
    background-image: url(../img/promo/juridico/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}


/* **********************
         criar
*********************** */

.bg-criar {
    background-image: url(../img/promo/criar/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* **********************
         investimento
*********************** */

.bg-investimento {
    background-image: url(../img/promo/investimento/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* **********************
         vendas
*********************** */

.bg-vendas {
    background-image: url(../img/promo/vendas/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* **********************
         eee
*********************** */

.bg-eee {
    background-image: url(../img/promo/eee/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* **********************
         fff
*********************** */

.bg-fff {
    background-image: url(../img/promo/fff/tile_large.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}